Repository Adnanezem/greenTrace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-front-test, deploy-back-test, deploy-front-prod, deploy-back-prod

deploy-front-test:
  stage: deploy
  image: maven:3.8.5-openjdk-17
  before_script:
  - chmod 400 $CI_SSH_KEY
  script:
  - scp -o StrictHostKeyChecking=no -i $CI_SSH_KEY -r -v $CI_PROJECT_DIR/front/* gitlabci@$IP_ADDRESS:/usr/share/nginx/multimif

deploy-back-test:
  stage: deploy
  image: maven:3.8.5-openjdk-17
  before_script:
  - chmod +x $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
  - $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
  - chmod 400 $CI_SSH_KEY
  script:
  - cd $CI_PROJECT_DIR/$BACK_DIR
  - mvn clean package -Dcheckstyle.skip -Dmaven.test.skip
  ...

deploy-front-prod:
  stage: deploy
  image: maven:3.8.5-openjdk-17
  before_script:
  - chmod 400 $CI_SSH_KEY
  script:
  - scp -o StrictHostKeyChecking=no -i $CI_SSH_KEY -r -v $CI_PROJECT_DIR/front/* gitlabci@$IP_ADDRESS:/usr/share/nginx/multimif

deploy-back-prod:
  stage: deploy
  image: maven:3.8.5-openjdk-17
  before_script:
  - chmod +x $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
  - $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
  - chmod 400 $CI_SSH_KEY
  script:
  - cd $CI_PROJECT_DIR/$BACK_DIR
  - mvn clean package
  ...

Développement du front - #4: Ajout de input pour tout les formulaires
  front/json/cards.json
Due: deploy-front-test, deploy-front-prod

Développement du front - #4: Ajout de support pour les input de type temps
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

back MAJ
  back/src/main/java/com/greentracer/app/dao/HistoriqueDao.java
  back/src/main/java/com/greentracer/app/internal/DefaultCarbon.java
Due: deploy-back-test, deploy-back-prod

correction des requetes, test User/Historique fonctionnels
  back/src/main/java/com/greentracer/app/dao/HistoriqueDao.java
  back/src/main/java/com/greentracer/app/dao/JourneeDao.java
  back/src/main/java/com/greentracer/app/dao/UserDao.java
  back/src/main/java/com/greentracer/app/models/User.java
  back/src/test/java/com/greentracer/app/dao/HistoriqueDaoTest.java
  back/src/test/java/com/greentracer/app/dao/JourneeDaoTest.java
  back/src/test/java/com/greentracer/app/dao/UserDaoTest.java
Due: deploy-back-test, deploy-back-prod

correction d'erreurs checkstyles
  back/src/main/java/com/greentracer/app/internal/DefaultCarbon.java
Due: deploy-back-test, deploy-back-prod

journeeDaoTest fonctionnel, requetes update/delete de journeeDao mise a jour
  back/src/main/java/com/greentracer/app/dao/JourneeDao.java
  back/src/test/java/com/greentracer/app/controllers/CarbonAPITest.java
  back/src/test/java/com/greentracer/app/dao/JourneeDaoTest.java
Due: deploy-back-test, deploy-back-prod

Issue Développement du front - #4 : Nav-bars modified.
  front/html/accueil.html
  front/html/contact.html
  front/html/formulaire.html
  front/html/login.html
  front/html/profil.html
Due: deploy-front-test, deploy-front-prod

JSON communication front-end et back-end - #7 : Ajout de la gestion d'erreur (historique n'existe pas) dans le backend.
  back/src/main/java/com/greentracer/app/controllers/CarbonAPI.java
  front/js/index.js
Due: deploy-front-test, deploy-back-test, deploy-front-prod, deploy-back-prod

Test sonarQube modification pom.xml
  back/pom.xml
  back/src/main/java/com/greentracer/app/dao/UserDao.java
  back/src/main/java/com/greentracer/app/internal/DefaultCarbon.java
Due: deploy-back-test, deploy-back-prod

JSON communication front-end et back-end - #7 : Gestion coté client du 404 pour recuperation de l'historique.
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

JSON communication front-end et back-end - #7 : Gestion d'erreur loadCarbonHistory.
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

Issue Développement du front - #4 : Ajout de l'emplacement du tableau de l'historique.
  front/html/profil.html
Due: deploy-front-test, deploy-front-prod

Issue Développement du front - #4 :Correction d'uen erreur sur la page Profil
  front/html/profil.html
Due: deploy-front-test, deploy-front-prod

Développement du front - #4: div invisible pour stoquage de json
  front/css/formulaire.css
Due: deploy-front-test, deploy-front-prod

Développement du front - #4: Enregistrement des cartes dans stoquage local fonctionnel Refonte complete de la gestion des données des cartes, optimisation du code, et améliorations diverses
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

back CALCUL
  back/src/main/java/com/greentracer/app/internal/CarbonCalculator.java
  back/src/main/java/com/greentracer/app/internal/DefaultCarbon.java
Due: deploy-back-test, deploy-back-prod

Merge commit '5507c362e130cba2772183feb8af592567e71116'
  back/pom.xml
  back/src/main/java/com/greentracer/app/controllers/CarbonAPI.java
  front/css/formulaire.css
  front/html/profil.html
  front/js/formulaire.js
  front/js/index.js
Due: deploy-front-test, deploy-back-test, deploy-front-prod, deploy-back-prod

Développement du front - #4: cartes modifiables Pré-remplissage et modification des cartes fonctionnel.
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

Calcul de la consommation carbone - #1 : Refactoring léger des classes CarbonCalculator + DefaultCarbon pour le calcul.
  back/src/main/java/com/greentracer/app/controllers/CarbonAPI.java
  back/src/main/java/com/greentracer/app/internal/DefaultCarbon.java
  back/src/main/java/com/greentracer/app/utils/CarbonCalculator.java
Due: deploy-back-test, deploy-back-prod

[fix] Autorisation ne rejette plus si on veut compute
  back/src/main/java/com/greentracer/app/filters/AutorizationFilter.java
Due: deploy-back-test, deploy-back-prod

Ajout header dans les réponses en cas d'echec.
  back/src/main/java/com/greentracer/app/filters/AuthFilter.java
  back/src/main/java/com/greentracer/app/filters/AutorizationFilter.java
Due: deploy-back-test, deploy-back-prod

Développement du front - #4: cartes supprimable
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

Testing the url instead of the method of the request
  back/src/main/java/com/greentracer/app/filters/AutorizationFilter.java
Due: deploy-back-test, deploy-back-prod

Adding URL to error message
  back/src/main/java/com/greentracer/app/filters/AutorizationFilter.java
Due: deploy-back-test, deploy-back-prod

la bd multimif_test mise a jour pour correspondre a celle par défaut
  back/src/main/java/com/greentracer/app/controllers/CarbonAPI.java
  back/src/test/java/com/greentracer/app/dao/BdConnectionTest.java
  back/src/test/java/com/greentracer/app/dao/HistoriqueDaoTest.java
  back/src/test/java/com/greentracer/app/dao/JourneeDaoTest.java
  back/src/test/java/com/greentracer/app/dao/UserDaoTest.java
  back/src/test/resources/application-test.properties
Due: deploy-back-test, deploy-back-prod

Développement du front - #4: Bouton "Envoyer" dit "Modifier" si en mode modif
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

Ajout error
  back/src/main/java/com/greentracer/app/filters/AutorizationFilter.java
Due: deploy-back-test, deploy-back-prod

Ajout message when passing filter
  back/src/main/java/com/greentracer/app/filters/AutorizationFilter.java
Due: deploy-back-test, deploy-back-prod

back HISTORIQUE
  back/src/main/java/com/greentracer/app/dao/HistoriqueDao.java
Due: deploy-back-test, deploy-back-prod

JSON communication front-end et back-end - #7 : Correction mauvais formattage des données coté front.
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

[misc] - Oubli de correction.
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

ajout de quelques tests non couverts (sonarQube)
  back/src/main/java/com/greentracer/app/internal/DefaultCarbon.java
  back/src/test/java/com/greentracer/app/controllers/CarbonAPITest.java
  back/src/test/java/com/greentracer/app/dao/JourneeDaoTest.java
  back/src/test/java/com/greentracer/app/utils/JwtTokenUtilTest.java
  back/src/test/java/com/greentracer/app/utils/UrlUtilsTest.java
Due: deploy-back-test, deploy-back-prod

Calcul de la consommation carbone - #1 : Ajout de la prise en compte des historiques.
  back/src/main/java/com/greentracer/app/dao/HistoriqueDao.java
  back/src/main/java/com/greentracer/app/internal/DefaultCarbon.java
Due: deploy-back-test, deploy-back-prod

[misc] - probleme histDao.
  back/src/main/java/com/greentracer/app/dao/HistoriqueDao.java
Due: deploy-back-test, deploy-back-prod

[misc] - histDao : pb create query.
  back/src/main/java/com/greentracer/app/dao/HistoriqueDao.java
Due: deploy-back-test, deploy-back-prod

[misc] - idP pas entre quote histDao.
  back/src/main/java/com/greentracer/app/dao/HistoriqueDao.java
Due: deploy-back-test, deploy-back-prod

[misc] - journee.date => journee.Date
  back/src/main/java/com/greentracer/app/dao/HistoriqueDao.java
Due: deploy-back-test, deploy-back-prod

JSON communication front-end et back-end - #7 : Debug de la fonction loadCarbonHistory.
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

Path conditions:
  deploy-front-test: any of: front/**/*
  deploy-back-test: any of: back/**/*
  deploy-front-prod: any of: front/**/*
  deploy-back-prod: any of: back/**/*
