Repository Adnanezem/greenTrace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-front-test, deploy-back-test, deploy-front-prod, deploy-back-prod

deploy-front-test:
  stage: deploy
  image: maven:3.8.5-openjdk-17
  before_script:
  - chmod 400 $CI_SSH_KEY
  script:
  - scp -o StrictHostKeyChecking=no -i $CI_SSH_KEY -r -v $CI_PROJECT_DIR/front/* gitlabci@$IP_ADDRESS:/usr/share/nginx/multimif

deploy-back-test:
  stage: deploy
  image: maven:3.8.5-openjdk-17
  before_script:
  - chmod +x $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
  - $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
  - chmod 400 $CI_SSH_KEY
  script:
  - cd $CI_PROJECT_DIR/$BACK_DIR
  - mvn clean package -Dcheckstyle.skip -Dmaven.test.skip
  ...

deploy-front-prod:
  stage: deploy
  image: maven:3.8.5-openjdk-17
  before_script:
  - chmod 400 $CI_SSH_KEY
  script:
  - scp -o StrictHostKeyChecking=no -i $CI_SSH_KEY -r -v $CI_PROJECT_DIR/front/* gitlabci@$IP_ADDRESS:/usr/share/nginx/multimif

deploy-back-prod:
  stage: deploy
  image: maven:3.8.5-openjdk-17
  before_script:
  - chmod +x $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
  - $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
  - chmod 400 $CI_SSH_KEY
  script:
  - cd $CI_PROJECT_DIR/$BACK_DIR
  - mvn clean package
  ...

JSON communication front-end et back-end - #7: Ajout requette envoi
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

JSON communication front-end et back-end - #7: Suppression d'une fonction inutile
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

Adding retire button to cloned card
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

Mise en place de l'API - #11 : Endpoint de l'API carbon partiellement fonctionnels. (l'API répond quelque chose, mais ne calcule rien encore).
  back/src/main/java/com/greentracer/app/controllers/CarbonAPI.java
  back/src/main/java/com/greentracer/app/controllers/UserAPI.java
  back/src/main/java/com/greentracer/app/dao/HistoriqueDao.java
  back/src/main/java/com/greentracer/app/dao/JourneeDao.java
  back/src/main/java/com/greentracer/app/internal/DefaultCarbon.java
  back/src/main/java/com/greentracer/app/responses/HistoriqueResponse.java
  back/src/main/java/com/greentracer/app/responses/JourneeResponse.java
Due: deploy-back-test, deploy-back-prod

[misc] debug
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

Développement du front - #4 : Modification pour prise en compte de la page profil.
  front/html/accueil.html
  front/html/contact.html
  front/html/formulaire.html
  front/html/login.html
  front/html/profil.html
  front/js/config.js
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

[misc] - Modification des tests par rapports au nouveau code.
  back/src/test/java/com/greentracer/app/internal/DefaultCarbonTest.java
Due: deploy-back-test, deploy-back-prod

[misc] - erreur dans le nom de la clef du localStorage dans logout.
  front/js/login.js
Due: deploy-front-test, deploy-front-prod

JSON communication front-end et back-end - #7: Ajout categories, et debut de refonte du systeme de cartes
  front/js/formulaire.js
  front/json/cards.json
Due: deploy-front-test, deploy-front-prod

requetes
  back/src/main/java/com/greentracer/app/dao/HistoriqueDao.java
Due: deploy-back-test, deploy-back-prod

Retour au point de départ
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

[filter] Filtre authaurization complété
  back/src/main/java/com/greentracer/app/filters/AutorizationFilter.java
Due: deploy-back-test, deploy-back-prod

JSON communication front-end et back-end - #7 : Récupération de l'hitorique utilisateur.
  back/src/main/java/com/greentracer/app/controllers/CarbonAPI.java
  front/js/index.js
  front/js/login.js
Due: deploy-front-test, deploy-back-test, deploy-front-prod, deploy-back-prod

requete
  back/src/main/java/com/greentracer/app/dao/HistoriqueDao.java
Due: deploy-back-test, deploy-back-prod

[fix] Cannot invoke equals on null object to test if the argument is null
  back/src/main/java/com/greentracer/app/filters/AutorizationFilter.java
Due: deploy-back-test, deploy-back-prod

Attempt 2 pour regler le grand espace entre les nav-links
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

[misc] - correction pour passer les tests.
  back/src/main/java/com/greentracer/app/controllers/CarbonAPI.java
  back/src/main/java/com/greentracer/app/filters/AutorizationFilter.java
  back/src/test/java/com/greentracer/app/controllers/CarbonAPITest.java
Due: deploy-back-test, deploy-back-prod

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Nettroyage des fichiers css
  front/css/accueil.css
  front/css/formulaire.css
  front/css/index.css
  front/css/login.css
Due: deploy-front-test, deploy-front-prod

Attempt pour regler le grand espace entre les nav-links
  front/css/accueil.css
  front/css/contact.css
  front/css/formulaire.css
  front/css/index.css
  front/css/login.css
  front/css/profil.css
Due: deploy-front-test, deploy-front-prod

Développement du front - #4: Correction POST
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

Développement du front - #4: Correction processing frame soft-ban
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

Update HistoriqueDao.java : style just to trigger the pipeline
  back/src/main/java/com/greentracer/app/dao/HistoriqueDao.java
Due: deploy-back-test, deploy-back-prod

[fix] Retirer le header authorization dans le authorization filter => Pas nécéssaier
  back/src/main/java/com/greentracer/app/filters/AutorizationFilter.java
Due: deploy-back-test, deploy-back-prod

Update AutorizationFilter.java
  back/src/main/java/com/greentracer/app/filters/AutorizationFilter.java
Due: deploy-back-test, deploy-back-prod

Update .gitlab-ci.yml : Allowing failure for sonarqube to not block the deployement
  .gitlab-ci.yml
Due: none

[misc] Fix U-login to U-Login
  back/src/main/java/com/greentracer/app/filters/AutorizationFilter.java
Due: deploy-back-test, deploy-back-prod

Développement du front - #4: Ajout css pour les forms des cartes
  front/css/formulaire.css
Due: deploy-front-test, deploy-front-prod

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

requeteHisstoriq
  back/src/main/java/com/greentracer/app/dao/HistoriqueDao.java
Due: deploy-back-test, deploy-back-prod

Attempt 3 pour regler le grand espace entre les nav-links
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

Développement du front - #4: Amelioration des "ProcessingMessage"
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

JSON communication front-end et back-end - #7 : Correction de l'endpoint.
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

Removing printing when error
  back/src/main/java/com/greentracer/app/internal/DefaultCarbon.java
  back/src/main/java/com/greentracer/app/internal/DefaultGreenTracer.java
Due: deploy-back-test, deploy-back-prod

Développement du front - #4: Ajout bouton annuler dans le formulaire
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

JSON communication front-end et back-end - #7 : Ajout des fonctions loadCarbonHistoryDetail (à test).
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

Développement du front - #4: Bouton "envoyer les cartes" plus joli
  front/css/formulaire.css
  front/html/formulaire.html
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

Path conditions:
  deploy-front-test: any of: front/**/*
  deploy-back-test: any of: back/**/*
  deploy-front-prod: any of: front/**/*
  deploy-back-prod: any of: back/**/*
