Repository Adnanezem/greenTrace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-front-test, deploy-back-test, deploy-front-prod, deploy-back-prod

.gitlab-ci.yml:

stages:
  - sonarqube-check
  - deploy

# Cache downloaded dependencies and plugins between builds.
# Not strictly necessary, but speeds up the builds.
cache:
  key: "$CI_JOB_NAME"
  paths:
    # Must be within the repository under test hence we can't use the
    # default ~/.m2
    - .m2/repository
    - .sonar/cache

variables:
  # Use the cached directory above.
  MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"
  PACKAGE_NAME: "greentracer-0.0.1-SNAPSHOT.war.original"
  BACK_DIR: "back"
  IP_ADDRESS: "192.168.75.79"
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
  GIT_DEPTH: "0"

sonarqube-check-prod:
  stage: sonarqube-check
  image: maven:3.8.5-openjdk-17
  before_script:
    - chmod +x $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
    - $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
  script: 
    - cd back/
    - mvn verify sonar:sonar
  changes:
    - back/**/*
  only:
    refs:
      - test

deploy-front-test:
  stage: deploy
  image: maven:3.8.5-openjdk-17
  only:
    refs:
      - test
    changes:
      - front/**/*
  before_script:
    - chmod 400 $CI_SSH_KEY
  script:
    - scp -o StrictHostKeyChecking=no -i $CI_SSH_KEY -r -v $CI_PROJECT_DIR/front/* gitlabci@$IP_ADDRESS:/usr/share/nginx/multimif

deploy-back-test:
  stage: deploy
  image: maven:3.8.5-openjdk-17
  only:
    refs:
      - test
    changes:
      - back/**/*
  before_script:
    - chmod +x $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
    - $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
    - chmod 400 $CI_SSH_KEY
  script:
    - cd $CI_PROJECT_DIR/$BACK_DIR
    - mvn clean package -Dcheckstyle.skip -Dmaven.test.skip
    - scp -o StrictHostKeyChecking=no -i $CI_SSH_KEY target/$PACKAGE_NAME gitlabci@$IP_ADDRESS:/opt/tomcat/webapps/back_test.war


deploy-front-prod:
  stage: deploy
  image: maven:3.8.5-openjdk-17
  only:
    refs:
      - main
    changes:
      - front/**/*
  before_script:
    - chmod 400 $CI_SSH_KEY
  script:
    - scp -o StrictHostKeyChecking=no -i $CI_SSH_KEY -r -v $CI_PROJECT_DIR/front/* gitlabci@$IP_ADDRESS:/usr/share/nginx/multimif

deploy-back-prod:
  stage: deploy
  image: maven:3.8.5-openjdk-17
  only:
    refs:
      - main
    changes:
      - back/**/*
  before_script:
    - chmod +x $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
    - $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
    - chmod 400 $CI_SSH_KEY
  script:
    - cd $CI_PROJECT_DIR/$BACK_DIR
    - mvn clean package
    - scp -o StrictHostKeyChecking=no -i $CI_SSH_KEY target/$PACKAGE_NAME gitlabci@$IP_ADDRESS:/opt/tomcat/webapps/back.war

sonarqube-check-prod:
  stage: sonarqube-check
  image: maven:3.8.5-openjdk-17
  before_script:
    - chmod +x $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
    - $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
  script: 
    - cd back/
    - mvn verify sonar:sonar
  only:
    refs:
      - main

JSON communication front-end et back-end - #7 : Correction de l'endpoint.
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update AutorizationFilter.java
  back/src/main/java/com/greentracer/app/filters/AutorizationFilter.java
Due: deploy-back-test, deploy-back-prod

Attempt pour regler le grand espace entre les nav-links
  front/css/accueil.css
  front/css/contact.css
  front/css/formulaire.css
  front/css/index.css
  front/css/login.css
  front/css/profil.css
Due: deploy-front-test, deploy-front-prod

Update .gitlab-ci.yml : Allowing failure for sonarqube to not block the deployement
  .gitlab-ci.yml
Due: none

Update HistoriqueDao.java : style just to trigger the pipeline
  back/src/main/java/com/greentracer/app/dao/HistoriqueDao.java
Due: deploy-back-test, deploy-back-prod

[misc] - correction pour passer les tests.
  back/src/main/java/com/greentracer/app/controllers/CarbonAPI.java
  back/src/main/java/com/greentracer/app/filters/AutorizationFilter.java
  back/src/test/java/com/greentracer/app/controllers/CarbonAPITest.java
Due: deploy-back-test, deploy-back-prod

Développement du front - #4: Ajout css pour les forms des cartes
  front/css/formulaire.css
Due: deploy-front-test, deploy-front-prod

Développement du front - #4: Amelioration des "ProcessingMessage"
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

Développement du front - #4: Correction processing frame soft-ban
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

Attempt 2 pour regler le grand espace entre les nav-links
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

Développement du front - #4: Correction POST
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

[misc] Fix U-login to U-Login
  back/src/main/java/com/greentracer/app/filters/AutorizationFilter.java
Due: deploy-back-test, deploy-back-prod

Attempt 3 pour regler le grand espace entre les nav-links
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

Retour au point de départ
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

Nettroyage des fichiers css
  front/css/accueil.css
  front/css/formulaire.css
  front/css/index.css
  front/css/login.css
Due: deploy-front-test, deploy-front-prod

JSON communication front-end et back-end - #7: Bouton validation envoi cartes
  front/html/formulaire.html
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

[misc] - style.display et pas juste .display..
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

JSON communication front-end et back-end - #7: Carte non ajouté si form non validé
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

Création de tests pour le back (Carbon API) - #13 : Tests opérationnels.
  back/src/main/java/com/greentracer/app/controllers/CarbonAPI.java
  back/src/test/java/com/greentracer/app/controllers/CarbonAPITest.java
  back/src/test/java/com/greentracer/app/controllers/UserAPITest.java
  back/src/test/java/com/greentracer/app/internal/DefaultCarbonTest.java
  back/src/test/java/com/greentracer/app/internal/DefaultUserTest.java
  back/src/test/java/com/greentracer/app/internal/defaultCarbonTest.java
Due: deploy-back-test, deploy-back-prod

JSON communication front-end et back-end - #7: Ajout verification du formulaire pour savoir si oui ou non envoyer le formulaire
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

Développement du front - #4 : Ajout d'une fonction pour se déconnecter.
  front/js/login.js
Due: deploy-front-test, deploy-front-prod

Revert "Update .gitlab-ci.yml"
  .gitlab-ci.yml
Due: none

Fix bug error when registering
  back/src/main/java/com/greentracer/app/filters/AutorizationFilter.java
Due: deploy-back-test, deploy-back-prod

JSON communication front-end et back-end - #7: Ajout touche echap pour fermer un form (corrigé :x)
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

[misc] - Modification des Dao/Mappers pour Journee : noms des colonnes non respectées.
  back/src/main/java/com/greentracer/app/dao/JourneeDao.java
  back/src/main/java/com/greentracer/app/mappers/JourneeMapper.java
Due: deploy-back-test, deploy-back-prod

[misc] - modif sendFormData.
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

JSON communication front-end et back-end - #7: Cartes coté user - encore a reparrer
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

JSON communication front-end et back-end - #7: sauvegarde des cartes selectionnées
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

JSON communication front-end et back-end - #7: Ajout touche echap pour fermer un form
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

Développement du front - #4 : Ajout d'une fonctionnalité permettant de cacher les navs inutiles.
  front/html/accueil.html
  front/html/contact.html
  front/html/formulaire.html
  front/html/login.html
  front/html/profil.html
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

[misc] - debug
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

Développement du front & JSON communication front-end et back-end - #4 & #7 : Modification sendFormData pour éviter le 403.
  front/js/formulaire.js
  front/js/index.js
  front/js/login.js
Due: deploy-front-test, deploy-front-prod

Issue Développement du front - #4 :Ajout de la page Profil du user.
  front/css/profil.css
  front/html/profil.html
Due: deploy-front-test, deploy-front-prod
