Repository Adnanezem/greenTrace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-front-test, deploy-back-test, deploy-front-prod, deploy-back-prod

.gitlab-ci.yml:

stages:
  - sonarqube-check
  - deploy

# Cache downloaded dependencies and plugins between builds.
# Not strictly necessary, but speeds up the builds.
cache:
  key: "$CI_JOB_NAME"
  paths:
    # Must be within the repository under test hence we can't use the
    # default ~/.m2
    - .m2/repository
    - .sonar/cache

variables:
  # Use the cached directory above.
  MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"
  PACKAGE_NAME: "greentracer-0.0.1-SNAPSHOT.war.original"
  BACK_DIR: "back"
  IP_ADDRESS: "192.168.75.79"
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
  GIT_DEPTH: "0"

sonarqube-check-prod:
  stage: sonarqube-check
  image: maven:3.8.5-openjdk-17
  before_script:
    - chmod +x $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
    - $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
  script: 
    - cd back/
    - mvn verify sonar:sonar
  changes:
    - back/**/*
  only:
    refs:
      - test

deploy-front-test:
  stage: deploy
  image: maven:3.8.5-openjdk-17
  only:
    refs:
      - test
    changes:
      - front/**/*
  before_script:
    - chmod 400 $CI_SSH_KEY
  script:
    - scp -o StrictHostKeyChecking=no -i $CI_SSH_KEY -r -v $CI_PROJECT_DIR/front/* gitlabci@$IP_ADDRESS:/usr/share/nginx/multimif

deploy-back-test:
  stage: deploy
  image: maven:3.8.5-openjdk-17
  only:
    refs:
      - test
    changes:
      - back/**/*
  before_script:
    - chmod +x $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
    - $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
    - chmod 400 $CI_SSH_KEY
  script:
    - cd $CI_PROJECT_DIR/$BACK_DIR
    - mvn clean package -Dcheckstyle.skip -Dmaven.test.skip
    - scp -o StrictHostKeyChecking=no -i $CI_SSH_KEY target/$PACKAGE_NAME gitlabci@$IP_ADDRESS:/opt/tomcat/webapps/back_test.war


deploy-front-prod:
  stage: deploy
  image: maven:3.8.5-openjdk-17
  only:
    refs:
      - main
    changes:
      - front/**/*
  before_script:
    - chmod 400 $CI_SSH_KEY
  script:
    - scp -o StrictHostKeyChecking=no -i $CI_SSH_KEY -r -v $CI_PROJECT_DIR/front/* gitlabci@$IP_ADDRESS:/usr/share/nginx/multimif

deploy-back-prod:
  stage: deploy
  image: maven:3.8.5-openjdk-17
  only:
    refs:
      - main
    changes:
      - back/**/*
  before_script:
    - chmod +x $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
    - $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
    - chmod 400 $CI_SSH_KEY
  script:
    - cd $CI_PROJECT_DIR/$BACK_DIR
    - mvn clean package
    - scp -o StrictHostKeyChecking=no -i $CI_SSH_KEY target/$PACKAGE_NAME gitlabci@$IP_ADDRESS:/opt/tomcat/webapps/back.war

sonarqube-check-prod:
  stage: sonarqube-check
  image: maven:3.8.5-openjdk-17
  before_script:
    - chmod +x $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
    - $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
  script: 
    - cd back/
    - mvn verify sonar:sonar
  only:
    refs:
      - main

Développement du front - #4 : Modif fonc logout.
  front/js/login.js
Due: deploy-front-test, deploy-front-prod

Update .gitlab-ci.yml Changing docker image when deploying front => much quickier
  .gitlab-ci.yml
Due: none

Revert "Adding retire button to cloned card"
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

[misc] - debug logout func.
  front/js/login.js
Due: deploy-front-test, deploy-front-prod

Calcul de la consommation carbone - #1 : Ajout de calcul naif dans le back.
  back/src/main/java/com/greentracer/app/internal/DefaultCarbon.java
Due: deploy-back-test, deploy-back-prod

[misc] - sendFormData : modification de la forme de l'objet envoyé.
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

Développement du front - #4 : Ajout de l'appel de fonction.
  front/html/accueil.html
  front/html/contact.html
  front/html/formulaire.html
  front/html/login.html
  front/html/profil.html
Due: deploy-front-test, deploy-front-prod

JSON communication front-end et back-end - #7: Suppression des cartes aprés envoi et retiur serveur
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

JSON communication front-end et back-end - #7 : Prise en compte du token JWT + fonction sendForm.
  front/js/formulaire.js
  front/js/login.js
Due: deploy-front-test, deploy-front-prod

[misc] - correction erreur de mon précédent commit (oubli appel de fonction).
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

[misc] - test en lançant la fonction après le load..
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

Développement du front - #4: belles animations lors de l'envoi au serveur des cartes OwO
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

[misc] - requete sql mal écrite.
  back/src/main/java/com/greentracer/app/dao/JourneeDao.java
Due: deploy-back-test, deploy-back-prod

[misc] Ne pas oublier de retirer des fichiers html les scripts qio n'existent plus/ont été renommé
  front/html/accueil.html
Due: deploy-front-test, deploy-front-prod

Développement du front - #4 : Ajout des modifications nécessaire à la déconnexion dans le front (html).
  front/html/accueil.html
  front/html/contact.html
  front/html/formulaire.html
  front/html/login.html
  front/html/profil.html
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

[misc] - Utilisation correcte de JQuery :).
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

JSON communication front-end et back-end - #7: Ajout de choix pour les vehicules
  front/json/cards.json
Due: deploy-front-test, deploy-front-prod

Changing autorization of filter
  back/src/main/java/com/greentracer/app/filters/AutorizationFilter.java
Due: deploy-back-test, deploy-back-prod

Gestion des utilisateurs - #2 : API terminé. Mise en place de l'API - #11 : API User fini, en cours de mise en place pour carbon.
  back/pom.xml
  back/src/main/java/com/greentracer/app/AppConfig.java
  back/src/main/java/com/greentracer/app/GreenTracerApplication.java
  back/src/main/java/com/greentracer/app/controllers/CarbonAPI.java
  back/src/main/java/com/greentracer/app/controllers/UserAPI.java
  back/src/main/java/com/greentracer/app/dao/UserDao.java
  back/src/main/java/com/greentracer/app/databd/user.java
  back/src/main/java/com/greentracer/app/filters/AuthFilter.java
  back/src/main/java/com/greentracer/app/internal/DefaultUser.java
  back/src/main/java/com/greentracer/app/responses/Error.java
  back/src/main/java/com/greentracer/app/responses/ErrorResponse.java
  back/src/main/java/com/greentracer/app/responses/GreenTracerResponse.java
  back/src/main/java/com/greentracer/app/responses/UserResponse.java
  back/src/main/java/com/greentracer/app/utils/JwtTokenUtil.java
  back/src/test/java/com/greentracer/app/GreenTracerApplicationTests.java
  back/src/test/java/com/greentracer/app/controllers/UserAPITest.java
  back/src/test/java/com/greentracer/app/internal/DefaultUserTest.java
  back/src/test/java/com/greentracer/app/responses/ErrorTest.java
  back/src/test/resources/log4j2.xml
Due: deploy-back-test, deploy-back-prod

JSON communication front-end et back-end - #7: Gestion erreur envoi carte
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

Test authorization filter
  back/src/main/java/com/greentracer/app/filters/AutorizationFilter.java
Due: deploy-back-test, deploy-back-prod

[misc] - Modification sur isConnected du à l'override du CSS sur les propriétés hidden.
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

JSON communication front-end et back-end - #7: Carte modifiable et supprimable
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

[misc] - debug sendFormData.
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

JSON communication front-end et back-end - #7: correction form test
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

Modification du boutton de déconnexion
  front/css/profil.css
Due: deploy-front-test, deploy-front-prod

JSON communication front-end et back-end - #7 : sendFormData OK. Besoin de récupérer les données maintenant.
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

JSON communication front-end et back-end - #7: Ajout selection couleur d'avion
  front/js/formulaire.js
  front/json/cards.json
Due: deploy-front-test, deploy-front-prod

[misc] - oublie d'enlever le body de la request.
  front/js/login.js
Due: deploy-front-test, deploy-front-prod

[misc] - Modification nom fonc pour éviter conflit.
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

[misc] - debug
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

Modification de la squelette du profil
  front/html/profil.html
Due: deploy-front-test, deploy-front-prod

JSON communication front-end et back-end - #7: Appel des fonctions pour pré-remplissage et bouton envoyer
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

[misc] - Checkstyle
  back/src/main/java/com/greentracer/app/filters/AuthFilter.java
Due: deploy-back-test, deploy-back-prod

Update .gitlab-ci.yml Removing sonarqube as it tests only on merge request and main branch
  .gitlab-ci.yml
Due: none

[misc] - correction (oublie de déclaration variable data)
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

[misc] - Changement mineur sur la manière de valider le token dans le filtre d'Authentification.
  back/src/main/java/com/greentracer/app/filters/AuthFilter.java
  back/src/main/java/com/greentracer/app/utils/JwtTokenUtil.java
Due: deploy-back-test, deploy-back-prod

ajout des tests DAO, quelques uns commentés (erreurs a régler causés par les requetes)
  back/src/main/java/com/greentracer/app/dao/HistoriqueDao.java
  back/src/main/java/com/greentracer/app/dao/UserDao.java
  back/src/main/java/com/greentracer/app/filters/AutorizationFilter.java
  back/src/main/java/com/greentracer/app/mappers/HistoriqueMapper.java
  back/src/main/java/com/greentracer/app/mappers/UserMapper.java
  back/src/main/java/com/greentracer/app/models/Historique.java
  back/src/test/java/com/greentracer/app/AppConfigTest.java
  back/src/test/java/com/greentracer/app/GreenTracerTest.java
  back/src/test/java/com/greentracer/app/GreenTracerWebTest.java
  back/src/test/java/com/greentracer/app/dao/BdConnectionTest.java
  back/src/test/java/com/greentracer/app/dao/HistoriqueDaoTest.java
  back/src/test/java/com/greentracer/app/dao/JourneeDaoTest.java
  back/src/test/java/com/greentracer/app/dao/UserDaoTest.java
  back/src/test/java/com/greentracer/app/databd/GestionIntegrationTest.java
  back/src/test/java/com/greentracer/app/filters/AuthFilterTest.java
  back/src/test/java/com/greentracer/app/filters/AuthorizationFilterTest.java
  back/src/test/java/com/greentracer/app/mappers/HistoriqueMapperTest.java
  back/src/test/java/com/greentracer/app/mappers/JourneeMapperTest.java
  back/src/test/java/com/greentracer/app/mappers/UserMapperTest.java
  back/src/test/java/com/greentracer/app/model/HistoriqueTest.java
  back/src/test/java/com/greentracer/app/model/JourneeTest.java
  back/src/test/java/com/greentracer/app/responses/ErrorResponseTest.java
  back/src/test/java/com/greentracer/app/responses/ErrorTest.java
  back/src/test/java/com/greentracer/app/responses/GreenTracerResponseTest.java
  back/src/test/java/com/greentracer/app/responses/HistoriqueResponseTest.java
  back/src/test/java/com/greentracer/app/responses/JourneeResponseTest.java
  back/src/test/java/com/greentracer/app/responses/UserResponseTest.java
  back/src/test/java/com/greentracer/app/utils/JSONUtilsTest.java
  back/src/test/java/com/greentracer/app/utils/JwtTokenUtilTest.java
  back/src/test/java/com/greentracer/app/utils/UrlUtilsTest.java
  back/src/test/resources/application-test.properties
  back/src/test/resources/log4j2.xml
Due: deploy-back-test, deploy-back-prod

[misc] - Changement dans les .html pour éviter le désordre en changeant les display.
  front/html/accueil.html
  front/html/contact.html
  front/html/formulaire.html
  front/html/login.html
  front/html/profil.html
Due: deploy-front-test, deploy-front-prod

Développement du front - #4 : Logout devient un bouton dans la page profil.
  front/html/accueil.html
  front/html/contact.html
  front/html/formulaire.html
  front/html/login.html
  front/html/profil.html
  front/js/index.js
Due: deploy-front-test, deploy-front-prod
