Repository Adnanezem/greenTrace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-front-test, deploy-back-test, deploy-front-prod, deploy-back-prod

.gitlab-ci.yml:

stages:
  - sonarqube-check
  - deploy

# Cache downloaded dependencies and plugins between builds.
# Not strictly necessary, but speeds up the builds.
cache:
  key: "$CI_JOB_NAME"
  paths:
    # Must be within the repository under test hence we can't use the
    # default ~/.m2
    - .m2/repository
    - .sonar/cache

variables:
  # Use the cached directory above.
  MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"
  PACKAGE_NAME: "greentracer-0.0.1-SNAPSHOT.war.original"
  BACK_DIR: "back"
  IP_ADDRESS: "192.168.75.79"
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
  GIT_DEPTH: "0"

sonarqube-check-prod:
  stage: sonarqube-check
  image: maven:3.8.5-openjdk-17
  before_script:
    - chmod +x $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
    - $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
  script: 
    - cd back/
    - mvn verify sonar:sonar
  changes:
    - back/**/*
  only:
    refs:
      - test

deploy-front-test:
  stage: deploy
  image: maven:3.8.5-openjdk-17
  only:
    refs:
      - test
    changes:
      - front/**/*
  before_script:
    - chmod 400 $CI_SSH_KEY
  script:
    - scp -o StrictHostKeyChecking=no -i $CI_SSH_KEY -r -v $CI_PROJECT_DIR/front/* gitlabci@$IP_ADDRESS:/usr/share/nginx/multimif

deploy-back-test:
  stage: deploy
  image: maven:3.8.5-openjdk-17
  only:
    refs:
      - test
    changes:
      - back/**/*
  before_script:
    - chmod +x $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
    - $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
    - chmod 400 $CI_SSH_KEY
  script:
    - cd $CI_PROJECT_DIR/$BACK_DIR
    - mvn clean package -Dcheckstyle.skip -Dmaven.test.skip
    - scp -o StrictHostKeyChecking=no -i $CI_SSH_KEY target/$PACKAGE_NAME gitlabci@$IP_ADDRESS:/opt/tomcat/webapps/back_test.war


deploy-front-prod:
  stage: deploy
  image: maven:3.8.5-openjdk-17
  only:
    refs:
      - main
    changes:
      - front/**/*
  before_script:
    - chmod 400 $CI_SSH_KEY
  script:
    - scp -o StrictHostKeyChecking=no -i $CI_SSH_KEY -r -v $CI_PROJECT_DIR/front/* gitlabci@$IP_ADDRESS:/usr/share/nginx/multimif

deploy-back-prod:
  stage: deploy
  image: maven:3.8.5-openjdk-17
  only:
    refs:
      - main
    changes:
      - back/**/*
  before_script:
    - chmod +x $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
    - $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
    - chmod 400 $CI_SSH_KEY
  script:
    - cd $CI_PROJECT_DIR/$BACK_DIR
    - mvn clean package
    - scp -o StrictHostKeyChecking=no -i $CI_SSH_KEY target/$PACKAGE_NAME gitlabci@$IP_ADDRESS:/opt/tomcat/webapps/back.war

sonarqube-check-prod:
  stage: sonarqube-check
  image: maven:3.8.5-openjdk-17
  before_script:
    - chmod +x $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
    - $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
  script: 
    - cd back/
    - mvn verify sonar:sonar
  only:
    refs:
      - main

JSON communication front-end et back-end - #7 : Correction loadCarbonHist
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

[misc] - debug
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

[misc] - debug getPreviousSevenDays
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

[misc] - modification getPreviousSevenDays.
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

JSON communication front-end et back-end - #7 : Modification de la gestion de la date pour getDetailledHistory (back et front)
  back/src/main/java/com/greentracer/app/controllers/CarbonAPI.java
  front/js/index.js
Due: deploy-front-test, deploy-back-test, deploy-front-prod, deploy-back-prod

[misc] - debug format date.
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

JSON communication front-end et back-end - #7
  back/src/main/java/com/greentracer/app/controllers/UserAPI.java
  back/src/main/java/com/greentracer/app/internal/DefaultCarbon.java
Due: deploy-back-test, deploy-back-prod

[misc] - type error.
  back/src/main/java/com/greentracer/app/internal/DefaultCarbon.java
Due: deploy-back-test, deploy-back-prod

JSON communication front-end et back-end - #7 : Ajout de la gestion de réponse multiple pour journee (multi-date).
  back/src/main/java/com/greentracer/app/dao/JourneeDao.java
  back/src/main/java/com/greentracer/app/internal/DefaultCarbon.java
  back/src/main/java/com/greentracer/app/responses/JourneeResponse.java
  back/src/main/java/com/greentracer/app/responses/JourneesResponse.java
Due: deploy-back-test, deploy-back-prod

[misc] - oubli changement carbonAPI (mauvais cast).
  back/src/main/java/com/greentracer/app/controllers/CarbonAPI.java
  back/src/main/java/com/greentracer/app/internal/DefaultCarbon.java
  back/src/main/java/com/greentracer/app/responses/JourneeResponse.java
Due: deploy-back-test, deploy-back-prod

[misc] - checkstyle
  back/src/main/java/com/greentracer/app/controllers/CarbonAPI.java
Due: deploy-back-test, deploy-back-prod

[misc] - correction des tests par rapport au nouveau code.
  back/src/test/java/com/greentracer/app/dao/JourneeDaoTest.java
  back/src/test/java/com/greentracer/app/internal/DefaultCarbonTest.java
Due: deploy-back-test, deploy-back-prod

[Fix] Test et checkstyle pour sonarqcube
  back/src/main/java/com/greentracer/app/dao/HistoriqueDao.java
  back/src/test/java/com/greentracer/app/controllers/CarbonAPITest.java
  back/src/test/java/com/greentracer/app/dao/HistoriqueDaoTest.java
  back/src/test/java/com/greentracer/app/dao/JourneeDaoTest.java
Due: deploy-back-test, deploy-back-prod

Merge and squash commit to branch main for sonarqube test
  back/src/main/java/com/greentracer/app/controllers/CarbonAPI.java
  back/src/main/java/com/greentracer/app/controllers/UserAPI.java
  back/src/main/java/com/greentracer/app/dao/HistoriqueDao.java
  back/src/main/java/com/greentracer/app/dao/JourneeDao.java
  back/src/main/java/com/greentracer/app/filters/AuthFilter.java
  back/src/main/java/com/greentracer/app/filters/AutorizationFilter.java
  back/src/main/java/com/greentracer/app/internal/DefaultCarbon.java
  back/src/main/java/com/greentracer/app/responses/JourneesResponse.java
  back/src/main/java/com/greentracer/app/utils/CarbonCalculator.java
  back/src/test/java/com/greentracer/app/controllers/CarbonAPITest.java
  back/src/test/java/com/greentracer/app/dao/BdConnectionTest.java
  back/src/test/java/com/greentracer/app/dao/HistoriqueDaoTest.java
  back/src/test/java/com/greentracer/app/dao/JourneeDaoTest.java
  back/src/test/java/com/greentracer/app/dao/UserDaoTest.java
  back/src/test/java/com/greentracer/app/internal/DefaultCarbonTest.java
  back/src/test/java/com/greentracer/app/utils/JwtTokenUtilTest.java
  back/src/test/java/com/greentracer/app/utils/UrlUtilsTest.java
  back/src/test/resources/application-test.properties
  front/js/formulaire.js
  front/js/index.js
Due: deploy-front-test, deploy-back-test, deploy-front-prod, deploy-back-prod

[Sonarqube] fixing problem
  back/src/main/java/com/greentracer/app/filters/AutorizationFilter.java
  back/src/main/java/com/greentracer/app/internal/DefaultCarbon.java
Due: deploy-back-test, deploy-back-prod

merge main dans test pour preparer lundi
  back/pom.xml
  back/src/main/java/com/greentracer/app/dao/UserDao.java
  back/src/main/java/com/greentracer/app/filters/AutorizationFilter.java
  back/src/main/java/com/greentracer/app/internal/DefaultCarbon.java
  back/src/main/java/com/greentracer/app/internal/DefaultGreenTracer.java
  front/html/accueil.html
  front/html/contact.html
  front/html/formulaire.html
  front/html/login.html
Due: deploy-front-test, deploy-back-test, deploy-front-prod, deploy-back-prod

Tests des DAOs. - #14 : HistDaoTest OK.
  back/src/main/java/com/greentracer/app/dao/HistoriqueDao.java
  back/src/test/java/com/greentracer/app/dao/HistoriqueDaoTest.java
Due: deploy-back-test, deploy-back-prod

Tests des DAOs. - #14 : Tests JourneeDao OK.
  back/src/main/java/com/greentracer/app/dao/JourneeDao.java
  back/src/test/java/com/greentracer/app/dao/JourneeDaoTest.java
Due: deploy-back-test, deploy-back-prod

Calcul de la consommation carbone - #1 : Modification de la requete de selection des journee pour permettre la traduction par le mapper correctement. Suppression de la jointure avec la table user.
  back/src/main/java/com/greentracer/app/dao/JourneeDao.java
Due: deploy-back-test, deploy-back-prod

Développement du front - #4 : Suppression d'une erreur qui entrainait une erreur d'affichage dans les navs.
  front/html/accueil.html
  front/html/contact.html
  front/html/formulaire.html
  front/html/login.html
Due: deploy-front-test, deploy-front-prod

JSON communication front-end et back-end - #7 : Modification du front pour la lecture des résultats détaillées.
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

[misc] - Correction valeur de clef JSON "Diesel" => "diesel" (CarbonCalculator).
  back/src/main/java/com/greentracer/app/utils/CarbonCalculator.java
Due: deploy-back-test, deploy-back-prod

[misc] - erreur nommage de variable dans loadCarbonHistory.
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

[misc] - Erreur dans compute => + au lieu de += ..
  back/src/main/java/com/greentracer/app/controllers/CarbonAPI.java
  back/src/main/java/com/greentracer/app/internal/DefaultCarbon.java
  front/js/index.js
Due: deploy-front-test, deploy-back-test, deploy-front-prod, deploy-back-prod

[fix] checkstyle
  back/src/main/java/com/greentracer/app/controllers/CarbonAPI.java
Due: deploy-back-test, deploy-back-prod

[misc] - correction de coquille dans le front.
  front/html/formulaire.html
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

[misc] - refactor du code (index.js).
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

[misc] - correction refactor index.js.
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

[misc] - Adaptation du code front du profil aux nouveautés html.
  front/html/profil.html
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

JSON communication front-end et back-end #7 - Ajout du type dans le data envoyé au back
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

Tests Ajoutés, plugin jacoco (equivalent sonarQube en local, analyse a trouver dans /target/Site/jacoco/index.html)
  back/pom.xml
  back/src/main/java/com/greentracer/app/internal/DefaultCarbon.java
  back/src/test/java/com/greentracer/app/GreenTracerApplicationTest.java
  back/src/test/java/com/greentracer/app/ServletInitializerTest.java
  back/src/test/java/com/greentracer/app/controllers/CarbonAPITest.java
  back/src/test/java/com/greentracer/app/controllers/UserAPITest.java
  back/src/test/java/com/greentracer/app/databd/GestionTestU.java
  back/src/test/java/com/greentracer/app/filters/AuthorizationFilterTest.java
  back/src/test/java/com/greentracer/app/internal/DefaultCarbonTest.java
  back/src/test/java/com/greentracer/app/internal/DefaultUserTest.java
  back/src/test/java/com/greentracer/app/utils/CarbonCalculatorTest.java
Due: deploy-back-test, deploy-back-prod

tests
  back/src/main/java/com/greentracer/app/dao/JourneeDao.java
  back/src/main/java/com/greentracer/app/dao/UserDao.java
  back/src/test/java/com/greentracer/app/dao/HistoriqueDaoTest.java
  back/src/test/java/com/greentracer/app/dao/JourneeDaoTest.java
  back/src/test/java/com/greentracer/app/dao/UserDaoTest.java
Due: deploy-back-test, deploy-back-prod

petite correction
  back/src/test/java/com/greentracer/app/dao/JourneeDaoTest.java
Due: deploy-back-test, deploy-back-prod

oups checkstyle
  back/src/main/java/com/greentracer/app/dao/JourneeDao.java
Due: deploy-back-test, deploy-back-prod

[misc] front erroné à cause du merge. Correction.
  front/html/accueil.html
  front/html/contact.html
  front/html/formulaire.html
  front/html/login.html
Due: deploy-front-test, deploy-front-prod

Calcul de la consommation carbone - #1 : Modification du nom de champ JSON à utiliser dans le calcul.
  back/src/main/java/com/greentracer/app/internal/DefaultCarbon.java
Due: deploy-back-test, deploy-back-prod

[misc] - Correction defaultGetDetailHist => gestion du 404.
  back/src/main/java/com/greentracer/app/internal/DefaultCarbon.java
Due: deploy-back-test, deploy-back-prod

JSON communication front-end et back-end - #7 : Changement pour la gestion des erreurs dans la récup des details de l'historique.
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

Bilan hebdomadaire - #3 : Modification de la requete d'insertion de histDao pour prendre en compte uniquement les valeurs de l'utilisateurs !
  back/src/main/java/com/greentracer/app/dao/HistoriqueDao.java
  back/src/test/java/com/greentracer/app/internal/DefaultCarbonTest.java
Due: deploy-back-test, deploy-back-prod

Bilan hebdomadaire - #3 : Changement de la requete pour compter une seul fois une accumulation de chaque journee.
  back/src/main/java/com/greentracer/app/dao/HistoriqueDao.java
Due: deploy-back-test, deploy-back-prod
