Repository Adnanezem/greenTrace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-front-test, deploy-back-test, deploy-front-prod, deploy-back-prod

.gitlab-ci.yml:

stages:
  - sonarqube-check
  - deploy

# Cache downloaded dependencies and plugins between builds.
# Not strictly necessary, but speeds up the builds.
cache:
  key: "$CI_JOB_NAME"
  paths:
    # Must be within the repository under test hence we can't use the
    # default ~/.m2
    - .m2/repository
    - .sonar/cache

variables:
  # Use the cached directory above.
  MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"
  PACKAGE_NAME: "greentracer-0.0.1-SNAPSHOT.war.original"
  BACK_DIR: "back"
  IP_ADDRESS: "192.168.75.79"
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
  GIT_DEPTH: "0"

sonarqube-check-prod:
  stage: sonarqube-check
  image: maven:3.8.5-openjdk-17
  before_script:
    - chmod +x $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
    - $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
  script: 
    - cd back/
    - mvn verify sonar:sonar
  changes:
    - back/**/*
  only:
    refs:
      - test

deploy-front-test:
  stage: deploy
  image: maven:3.8.5-openjdk-17
  only:
    refs:
      - test
    changes:
      - front/**/*
  before_script:
    - chmod 400 $CI_SSH_KEY
  script:
    - scp -o StrictHostKeyChecking=no -i $CI_SSH_KEY -r -v $CI_PROJECT_DIR/front/* gitlabci@$IP_ADDRESS:/usr/share/nginx/multimif

deploy-back-test:
  stage: deploy
  image: maven:3.8.5-openjdk-17
  only:
    refs:
      - test
    changes:
      - back/**/*
  before_script:
    - chmod +x $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
    - $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
    - chmod 400 $CI_SSH_KEY
  script:
    - cd $CI_PROJECT_DIR/$BACK_DIR
    - mvn clean package -Dcheckstyle.skip -Dmaven.test.skip
    - scp -o StrictHostKeyChecking=no -i $CI_SSH_KEY target/$PACKAGE_NAME gitlabci@$IP_ADDRESS:/opt/tomcat/webapps/back_test.war


deploy-front-prod:
  stage: deploy
  image: maven:3.8.5-openjdk-17
  only:
    refs:
      - main
    changes:
      - front/**/*
  before_script:
    - chmod 400 $CI_SSH_KEY
  script:
    - scp -o StrictHostKeyChecking=no -i $CI_SSH_KEY -r -v $CI_PROJECT_DIR/front/* gitlabci@$IP_ADDRESS:/usr/share/nginx/multimif

deploy-back-prod:
  stage: deploy
  image: maven:3.8.5-openjdk-17
  only:
    refs:
      - main
    changes:
      - back/**/*
  before_script:
    - chmod +x $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
    - $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
    - chmod 400 $CI_SSH_KEY
  script:
    - cd $CI_PROJECT_DIR/$BACK_DIR
    - mvn clean package
    - scp -o StrictHostKeyChecking=no -i $CI_SSH_KEY target/$PACKAGE_NAME gitlabci@$IP_ADDRESS:/opt/tomcat/webapps/back.war

sonarqube-check-prod:
  stage: sonarqube-check
  image: maven:3.8.5-openjdk-17
  before_script:
    - chmod +x $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
    - $CI_PROJECT_DIR/ci/setup-mvn-proxy.sh
  script: 
    - cd back/
    - mvn verify sonar:sonar
  only:
    refs:
      - main

[misc] - Resultat non connecté dans div.
  front/html/formulaire.html
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

[misc] - checkstyle.
  back/src/main/java/com/greentracer/app/internal/DefaultCarbon.java
Due: deploy-back-test, deploy-back-prod

Développement du front - #4: remplissage auto de pourcentage des formulaires
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

[misc] - debug sendFormData
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

[misc] - debug.
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

Développement du front - #4: Ajout rapport en direct aprés calcul impacte carbone
  front/css/formulaire.css
  front/html/formulaire.html
  front/js/formulaire.js
Due: deploy-front-test, deploy-front-prod

Comparaison des bilans carbones - #5 : Développement des fonctions permettant de calculer l'avg conso carbonnes utilisateurs.
  back/src/main/java/com/greentracer/app/controllers/CarbonAPI.java
  back/src/main/java/com/greentracer/app/internal/DefaultCarbon.java
Due: deploy-back-test, deploy-back-prod

Comparaison des bilans carbones - #5 : Ajout des nécéssité dans le front (comparaison graphique).
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

[misc] - oublie d'include le script login dans la page login ?
  front/html/login.html
Due: deploy-front-test, deploy-front-prod

Tests + quelques petites modifs pour mieux gérer les err
  back/src/main/java/com/greentracer/app/controllers/CarbonAPI.java
  back/src/main/java/com/greentracer/app/dao/JourneeDao.java
  back/src/main/java/com/greentracer/app/dao/UserDao.java
  back/src/main/java/com/greentracer/app/utils/JwtTokenUtil.java
  back/src/test/java/com/greentracer/app/controllers/CarbonAPITest.java
  back/src/test/java/com/greentracer/app/controllers/UserAPITest.java
  back/src/test/java/com/greentracer/app/dao/HistoriqueDaoTest.java
  back/src/test/java/com/greentracer/app/dao/JourneeDaoTest.java
  back/src/test/java/com/greentracer/app/dao/UserDaoTest.java
  back/src/test/java/com/greentracer/app/filters/AuthorizationFilterTest.java
  back/src/test/java/com/greentracer/app/internal/DefaultCarbonTest.java
  back/src/test/java/com/greentracer/app/utils/CarbonCalculatorTest.java
Due: deploy-back-test, deploy-back-prod

[misc] - Ajout de /average au filtre d'authorize.
  back/src/main/java/com/greentracer/app/filters/AutorizationFilter.java
Due: deploy-back-test, deploy-back-prod

[misc] - erreur.
  back/src/main/java/com/greentracer/app/filters/AutorizationFilter.java
Due: deploy-back-test, deploy-back-prod

[misc] Fix checkstyle
  back/src/main/java/com/greentracer/app/filters/AutorizationFilter.java
Due: deploy-back-test, deploy-back-prod

Développement du front - #4 : titre des axes réécrit dans le graph du profil.
  front/js/index.js
Due: deploy-front-test, deploy-front-prod

[misc] - checkstyle.
  back/src/main/java/com/greentracer/app/filters/AutorizationFilter.java
Due: deploy-back-test, deploy-back-prod

[misc] - correction mineur.
  back/src/main/java/com/greentracer/app/utils/CarbonCalculator.java
  front/js/index.js
Due: deploy-front-test, deploy-back-test, deploy-front-prod, deploy-back-prod

[misc] - checkstyle
  back/src/main/java/com/greentracer/app/filters/AutorizationFilter.java
Due: deploy-back-test, deploy-back-prod

[misc] - Prise en compte des restos + checkstyle.
  front/json/cards.json
Due: deploy-front-test, deploy-front-prod

Calcul de la consommation carbone - #1 : Ajout de bonne gestion & valeur pour calcul des repas.
  back/src/main/java/com/greentracer/app/internal/DefaultCarbon.java
  back/src/main/java/com/greentracer/app/utils/CarbonCalculator.java
  back/src/test/java/com/greentracer/app/internal/DefaultCarbonTest.java
  back/src/test/java/com/greentracer/app/utils/CarbonCalculatorTest.java
  front/json/cards.json
Due: deploy-front-test, deploy-back-test, deploy-front-prod, deploy-back-prod

[misc] - ajout d'une sureté pour le chargement du script plotly sur le profil.
  back/src/main/java/com/greentracer/app/utils/CarbonCalculator.java
  front/html/profil.html
  front/js/dictionnary.js
  front/js/index.js
Due: deploy-front-test, deploy-back-test, deploy-front-prod, deploy-back-prod

[misc] - correction sonarQube.
  back/src/main/java/com/greentracer/app/internal/DefaultCarbon.java
Due: deploy-back-test, deploy-back-prod

[misc] - pb logout.
  front/html/profil.html
Due: deploy-front-test, deploy-front-prod

[misc] Changement CI pour déployer au bon endroit
  .gitlab-ci.yml
Due: none

Changement addresse requêtage de l'API par le front
  front/js/config.js
  front/js/formulaire.js
  front/js/index.js
  front/js/login.js
Due: deploy-front-test, deploy-front-prod

[Fix] Bug json.historique peut être nul (par exemple si nouvel utilisateur)
  front/js/index.js
Due: deploy-front-test, deploy-front-prod
